In [1]:
import pandas as pd
import datetime as dt

In [2]:
etf_df = pd.read_csv("resources/etf_df.csv")

In [3]:
# last date configured
last_date = list(etf_df.Date)[-1]
last_split = last_date.split('-')
d_list = [int(i) for i in last_split]
date = dt.date(d_list[0], d_list[1], d_list[2])

In [4]:
# calculate the dates from the last data point for 1m, 3m, 6m, 1y, 5y, and 10y...
# ...then convert to string format for filtering DataFrame
one_mo = (date - dt.timedelta(days=30.4167)).strftime("%Y-%m-%d")
three_mo = (date - dt.timedelta(days=91.2501)).strftime("%Y-%m-%d")
six_mo = (date - dt.timedelta(days=182.5)).strftime("%Y-%m-%d")
one_yr = (date - dt.timedelta(days=365)).strftime("%Y-%m-%d")
five_yr = (date - dt.timedelta(days=1825)).strftime("%Y-%m-%d")
ten_yr = (date - dt.timedelta(days=3650)).strftime("%Y-%m-%d")

In [5]:
# verify format and data
last_date

'2021-04-01'

save list of dates to a TXT file, to copy/paste into app.js

In [6]:
# save list of dates to a TXT file, to copy/paste into app.js
values = [last_date, one_mo, three_mo, six_mo, one_yr, five_yr, ten_yr]

with open("dates.txt", "w") as output:
    output.write(str(values))