### Most of the code here taken from Oleh Onyshchak's notebook on Kaggle
#### https://www.kaggle.com/jacksoncrow/download-nasdaq-historical-data

In [1]:
import pandas as pd
import yfinance as yf

In [2]:
offset = 0
limit = 3000
period = 'max' # valid periods: 1d,5d,1mo,3mo,6mo,1y,2y,5y,10y,ytd,max

Download all NASDAQ traded symbols

In [3]:
data = pd.read_csv("http://www.nasdaqtrader.com/dynamic/SymDir/nasdaqtraded.txt", sep='|')
data_clean = data[data['Test Issue'] == 'N']
symbols = data_clean['NASDAQ Symbol'].tolist()
print('total number of symbols traded = {}'.format(len(symbols)))

total number of symbols traded = 10093

In [4]:
my_symbols = ['QQQ', 'SPLG', 'IVV', 'VOO', 'SPY', 'DIA', 'ACWI', 'VEU', 'VSS']

Download Historic data

In [5]:
# pip install yfinance

In [6]:
import os, contextlib

In [7]:
%%time

limit = limit if limit else len(my_symbols)
end = min(offset + limit, len(my_symbols))
is_valid = [False] * len(my_symbols)
# force silencing of verbose API
with open(os.devnull, 'w') as devnull:
    with contextlib.redirect_stdout(devnull):
        for i in range(offset, end):
            s = my_symbols[i]
            data = yf.download(s, period=period)
            if len(data.index) == 0:
                continue
        
            is_valid[i] = True
            data.to_csv('hist/{}.csv'.format(s))

print('Total number of valid symbols downloaded = {}'.format(sum(is_valid)))

Total number of valid symbols downloaded = 9
Wall time: 3.79 s

### Trying to grab info on my own

In [8]:
qqq = yf.Ticker("QQQ")
print(qqq)

yfinance.Ticker object <QQQ>

In [9]:
# get stock info
qqq.info

{'previousClose': 318.83,
 'regularMarketOpen': 321.09,
 'twoHundredDayAverage': 300.73392,
 'trailingAnnualDividendYield': 0.00483016,
 'payoutRatio': None,
 'volume24Hr': None,
 'regularMarketDayHigh': 324.2,
 'navPrice': 318.95,
 'averageDailyVolume10Day': 73470060,
 'totalAssets': 150566158336,
 'regularMarketPreviousClose': 318.83,
 'fiftyDayAverage': 322.34354,
 'trailingAnnualDividendRate': 1.54,
 'open': 321.09,
 'toCurrency': None,
 'averageVolume10days': 73470060,
 'expireDate': None,
 'yield': 0.0055000000000000005,
 'algorithm': None,
 'dividendRate': None,
 'exDividendDate': None,
 'beta': None,
 'circulatingSupply': None,
 'startDate': None,
 'regularMarketDayLow': 319.1,
 'priceHint': 2,
 'currency': 'USD',
 'trailingPE': 82.30552,
 'regularMarketVolume': 54925896,
 'lastMarket': None,
 'maxSupply': None,
 'openInterest': None,
 'marketCap': None,
 'volumeAllCurrencies': None,
 'strikePrice': None,
 'averageVolume': 43359052,
 'priceToSalesTrailing12Months': None,
 'dayLow': 319.1,
 'ask': 0,
 'ytdReturn': None,
 'askSize': 900,
 'volume': 54925896,
 'fiftyTwoWeekHigh': 338.19,
 'forwardPE': None,
 'maxAge': 1,
 'fromCurrency': None,
 'fiveYearAvgDividendYield': None,
 'fiftyTwoWeekLow': 164.93,
 'bid': 0,
 'tradeable': False,
 'dividendYield': None,
 'bidSize': 900,
 'dayHigh': 324.2,
 'exchange': 'NGM',
 'shortName': 'Invesco QQQ Trust, Series 1',
 'longName': 'Invesco QQQ Trust',
 'exchangeTimezoneName': 'America/New_York',
 'exchangeTimezoneShortName': 'EDT',
 'isEsgPopulated': False,
 'gmtOffSetMilliseconds': '-14400000',
 'quoteType': 'ETF',
 'symbol': 'QQQ',
 'messageBoardId': 'finmb_8108558',
 'market': 'us_market',
 'annualHoldingsTurnover': None,
 'enterpriseToRevenue': None,
 'beta3Year': 1.04,
 'profitMargins': None,
 'enterpriseToEbitda': None,
 '52WeekChange': None,
 'morningStarRiskRating': None,
 'forwardEps': None,
 'revenueQuarterlyGrowth': None,
 'fundInceptionDate': 921024000,
 'annualReportExpenseRatio': None,
 'bookValue': None,
 'fundFamily': 'Invesco',
 'lastFiscalYearEnd': None,
 'netIncomeToCommon': None,
 'trailingEps': None,
 'lastDividendValue': None,
 'SandP52WeekChange': None,
 'priceToBook': None,
 'nextFiscalYearEnd': None,
 'mostRecentQuarter': None,
 'enterpriseValue': None,
 'threeYearAverageReturn': 0.23969999,
 'lastSplitDate': None,
 'lastSplitFactor': None,
 'legalType': 'Exchange Traded Fund',
 'lastDividendDate': None,
 'morningStarOverallRating': None,
 'earningsQuarterlyGrowth': None,
 'pegRatio': None,
 'lastCapGain': None,
 'category': 'Large Growth',
 'fiveYearAverageReturn': 0.256,
 'phone': '800-983-0903',
 'longBusinessSummary': 'The investment seeks investment results that generally correspond to the price and yield performance of the NASDAQ-100 IndexÂ®.\n To maintain the correspondence between the composition and weights of the securities in the trust (the "securities") and the stocks in the NASDAQ-100 IndexÂ®, the adviser adjusts the securities from time to time to conform to periodic changes in the identity and/or relative weights of index securities. The composition and weighting of the securities portion of a portfolio deposit are also adjusted to conform to changes in the index.',
 'companyOfficers': [],
 'regularMarketPrice': 321.09,
 'logo_url': ''}

In [10]:
# get historical market data, valid periods: 1d,5d,1mo,3mo,6mo,1y,2y,5y,10y,ytd,max
qqq.history(period="max")

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
1999-03-10,44.497315,44.524513,43.762946,44.442917,5232000,0.0,0.0
1999-03-11,44.769283,45.027672,43.790125,44.660488,9688600,0.0,0.0
1999-03-12,44.497316,44.524515,43.218971,43.572556,8743600,0.0,0.0
1999-03-15,43.898920,44.878079,43.436540,44.823681,6369000,0.0,0.0
1999-03-16,45.014103,45.394886,44.524523,45.204494,4905800,0.0,0.0
...,...,...,...,...,...,...,...
2021-03-10,316.160004,316.470001,310.170013,310.880005,76547300,0.0,0.0
2021-03-11,315.769989,319.859985,314.850006,318.040009,53244500,0.0,0.0
2021-03-12,313.859985,318.230011,311.390015,315.459991,69276600,0.0,0.0
2021-03-15,315.790009,319.000000,314.100006,318.829987,42955700,0.0,0.0
2021-03-16,321.089996,324.200012,319.100006,320.579987,54925896,0.0,0.0

In [11]:
qqq_df = yf.download("QQQ", period="max")
qqq_df

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
1999-03-10,51.125000,51.156250,50.281250,51.062500,44.442917,5232000
1999-03-11,51.437500,51.734375,50.312500,51.312500,44.660488,9688600
1999-03-12,51.125000,51.156250,49.656250,50.062500,43.572556,8743600
1999-03-15,50.437500,51.562500,49.906250,51.500000,44.823681,6369000
1999-03-16,51.718750,52.156250,51.156250,51.937500,45.204494,4905800
...,...,...,...,...,...,...
2021-03-10,316.160004,316.470001,310.170013,310.880005,310.880005,76547300
2021-03-11,315.769989,319.859985,314.850006,318.040009,318.040009,53244500
2021-03-12,313.859985,318.230011,311.390015,315.459991,315.459991,69276600
2021-03-15,315.790009,319.000000,314.100006,318.829987,318.829987,42955700
2021-03-16,321.089996,324.200012,319.100006,320.579987,320.579987,54925896